<div class="root">
  <mat-card>
    <h1 class="title">{{"product demo" | titlecase}}</h1>
    <form>
      <mat-form-field class="field">
        <mat-label>{{"your name" | titlecase}}</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>{{"your password" | titlecase}}</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">{{"login" | uppercase}}</button>
    </form>
  </mat-card>
</div>
