<div class="root">
  <div *ngIf="editting; else dataRoot">
    <button mat-icon-button matTooltip="Cancel editting" (click)="editProduct(false)">
      <mat-icon>close</mat-icon>
    </button>
    <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>
          {{"name" | titlecase}}
        </mat-label>
        <input required matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{"description" | titlecase }}</mat-label>
        <textarea matInput rows="3" formControlName="description"></textarea>
      </mat-form-field>
      <div formArrayName="categories">
        <mat-checkbox *ngFor="let category of categories; index as i" [formControlName]="i">{{category.name |
          titlecase}}</mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>
          {{"supplier" | titlecase}}
        </mat-label>
        <mat-select required formControlName="supplier">
          <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{"price" | titlecase}}
        </mat-label>
        <input required matInput type="number" formControlName="price">
      </mat-form-field>
      <mat-form-field>
        <mat-label>
          {{"release date" | titlecase}}
        </mat-label>
        <input required matInput [matDatepicker]="release_date_picker" formControlName="releasedDate">
        <mat-datepicker-toggle matSuffix [for]="release_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #release_date_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{"discontinued date" | titlecase}}</mat-label>
        <input matInput [matDatepicker]="discontinue_date_picker" formControlName="discontinuedDate">
        <mat-datepicker-toggle matSuffix [for]="discontinue_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #discontinue_date_picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{"details" | titlecase }}</mat-label>
        <textarea required matInput rows="10" formControlName="detail"></textarea>
      </mat-form-field>
      <div class="edit-actions">
        <button type='button' [disabled]="!product || submitting" mat-raised-button color='warn' (click)="onDelete()">
          {{"delete this product"|titlecase}}
        </button>
        <div style="display: flex; align-items: center;">
          <mat-spinner style="margin-right: 1rem;" *ngIf="submitting" diameter="40"></mat-spinner>
          <button [disabled]="!product || submitting" type='submit' mat-raised-button color='primary'>{{"submit"|
            titlecase}}</button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #dataRoot>
    <div class="dataRoot" *ngIf="product">
      <h1>
        {{product.name| titlecase}}
      </h1>
      <h3>
        {{"id" | titlecase}}
        :
        {{product.id}}
      </h3>
      <h3>
        {{"description" | titlecase}}
        :
        {{product.description}}
      </h3>
      <h3>
        {{"category" | titlecase}}
        :
        {{toCategoryNames()}}
      </h3>
      <h3>
        {{"supplier" | titlecase}}
        :
        {{product.supplier.name}}
      </h3>
      <h3>
        {{"price" | titlecase}}
        :
        {{product.price?.toFixed(2)}}
      </h3>
      <h3>
        {{"rating" | titlecase}}
        :
        {{product.rating}}
      </h3>
      <h3>
        {{"release" | titlecase}}
        :
        {{product.releasedDate | date:'longDate'}}
      </h3>
      <h3>
        {{"status" | titlecase}}
        :
        <span *ngIf="product.discontinuedDate else available">
          Discontinued at {{product.discontinuedDate | date:'longDate'}}
        </span>
        <ng-template #available>
          Available
        </ng-template>
      </h3>
      <h1>{{"about this product" | titlecase}}</h1>
      <p class="mat-body">
        {{product.detail}}
      </p>
      <button mat-fab (click)="editProduct(true)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </ng-template>
</div>