<form>
  <div mat-dialog-title>
    <h1>{{"edit product" | titlecase}}</h1>
  </div>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>
        {{"name" | titlecase}}
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{"category" | titlecase}}
      </mat-label>
      <mat-select>
        <mat-option>Hello</mat-option>
        <mat-option>World</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{"supplier" | titlecase}}
      </mat-label>
      <mat-select>
        <mat-option>Hello</mat-option>
        <mat-option>World</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{"price" | titlecase}}
      </mat-label>
      <input matInput type="number">
    </mat-form-field>
    <mat-checkbox>{{"discontinue" | titlecase}}</mat-checkbox>
    <mat-form-field>
      <mat-label>
        {{"discontinue date" | titlecase}}
      </mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color='primary'>{{"submit" | uppercase}}</button>
    <button mat-dialog-close mat-button (click)="close()">{{"close" | uppercase}}</button>
  </mat-dialog-actions>
</form>
