<div mat-dialog-title>
  <h1>{{"edit product" | titlecase}}</h1>
</div>
<mat-dialog-content>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Info">
      <form>
        <mat-form-field>
          <mat-label>
            {{"name" | titlecase}}
          </mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{"category" | titlecase}}
          </mat-label>
          <mat-select>
            <mat-option>Hello</mat-option>
            <mat-option>World</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{"supplier" | titlecase}}
          </mat-label>
          <mat-select>
            <mat-option>Hello</mat-option>
            <mat-option>World</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{"price" | titlecase}}
          </mat-label>
          <input matInput type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{"release date" | titlecase}}
          </mat-label>
          <input matInput [matDatepicker]="release_date_picker">
          <mat-datepicker-toggle matSuffix [for]="release_date_picker"></mat-datepicker-toggle>
          <mat-datepicker #release_date_picker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Actions">
      <mat-checkbox>{{"drop this product"}}</mat-checkbox>
      <mat-form-field>
        <mat-label>
          {{"discontinued date" | titlecase}}
        </mat-label>
        <input matInput [matDatepicker]="discontinue_date_picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="discontinue_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #discontinue_date_picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color='warn' (click)="delete()">{{"delete this product"| titlecase}}</button>

    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button type="submit" color='primary'>{{"submit" | uppercase}}</button>
  <button mat-dialog-close mat-button (click)="close()">{{"close" | uppercase}}</button>
</mat-dialog-actions>
