<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-title>
    <h1>{{"create product" | titlecase}}</h1>
  </div>
  <mat-form-field>
    <mat-label>
      {{"name" | titlecase}}
    </mat-label>
    <input required matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>
      {{"description" | titlecase}}
    </mat-label>
    <textarea required rows="3" matInput formControlName="description"></textarea>
  </mat-form-field>
  <div formArrayName="categories" class="form-category">
    <h3 style="margin-bottom: 0;">Select one or more categories</h3>
    <mat-checkbox *ngFor="let category of categories; let i = index" [formControlName]="i">
      {{category.name | titlecase}}
    </mat-checkbox>
  </div>
  <mat-form-field style="margin-top: 1rem;">
    <mat-label>
      {{"supplier" | titlecase}}
    </mat-label>
    <mat-select required formControlName="supplier">
      <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      {{"price" | titlecase}}
    </mat-label>
    <input required matInput type="number" formControlName="price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      {{"released date" | titlecase}}
    </mat-label>
    <input required matInput type='date' formControlName="releasedDate">
  </mat-form-field>
  <mat-checkbox formControlName="goToDetail">Go to product&apos;s page after created</mat-checkbox>
  <mat-dialog-actions>
    <button [disabled]="submitting" mat-raised-button type="submit" color='primary'>{{"submit" | uppercase}}</button>
    <button [disabled]="submitting" mat-dialog-close mat-button (click)="close()">{{"close" | uppercase}}</button>
    <mat-spinner *ngIf="submitting" diameter="32" color='accent'></mat-spinner>
  </mat-dialog-actions>
</form>